page-edit{
#welcome{
    background: color($colors, energy);
    h1{
        font-size: 52px;
        margin-top:40px;
    }
    .marginTop{
        margin-top:200px;
    }
}
#headerb{
    background: color($colors, energy4);
}

}
